.hg
.hgignore
*.o
*.cmi
*.cmo
lab1/a.k
lab1/a.out
lab1/a.test
lab1/a.x
lab4/b.s
keiko/decode.c
keiko/interp.c
keiko/keiko.h
keiko/obx-j.a
keiko/obx-t.a
keiko/pplink
keiko/ppx
keiko/ppxj
keiko/template.c
lab1/calc
lab1/lexer.ml
lab1/parser.ml
lab1/parser.mli
lab2/lexer.ml
lab2/parser.ml
lab2/parser.mli
lab2/parser.output
lab2/ppc
lab3/lexer.ml
lab3/parser.ml
lab3/parser.mli
lab3/ppc
lab4/lexer.ml
lab4/parser.ml
lab4/parser.mli
lab4/ppc
ppc/lexer.ml
ppc/parser.ml
ppc/parser.mli
ppc/parser.output
ppc/ppc
ppc/ppx
myacc/bootlexer.ml
myacc/bootmain.ml
myacc/bootyacc
myacc/lexer.ml
myacc/myacc
myacc/yacc.ml
myacc/yacc.mli
lab2/a.k
lab2/a.out
lab2/a.test
lab3/a.k
lab3/a.out
lab3/a.test
lab4/a.k
lab4/a.out
lab4/a.test
ppc/a.k
ppc/a.out
ppc/a.test
lab2/a.x
lab3/a.x
lab4/a.x
ppc/a.x
ppcpi/jumpopt.ml
ppcpi/keiko.ml
ppcpi/kgen.ml
ppcpi/lexer.ml
ppcpi/parser.ml
ppcpi/parser.mli
ppcpi/parser.output
ppcpi/ppc
ppcpi/share.ml
ppcpi/simp.ml
ppcpi/tools/nclex.ml
ppcpi/tools/ncparse.ml
ppcpi/tools/ncparse.mli
ppcpi/tools/ncparse.output
ppcpi/tools/nodexp
ppcpi/tools/pibake
ppcpi/tools/sshconfig
ppcpi/tran.ml
ppcpi/tools/guest_rsa
ppcpi/b.s
ppcpi/b.test
lab1/parser.output
lab1/ppc
lab4/jumpopt.ml
lab4/keiko.ml
lab4/kgen.ml
lab4/parser.output
lab4/share.ml
lab4/simp.ml
lab4/tools/nclex.ml
lab4/tools/ncparse.ml
lab4/tools/ncparse.mli
lab4/tools/ncparse.output
lab4/tools/nodexp
lab4/tran.ml
